@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Bernier';
    src: url('/public/fonts/Bernier-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



#bodyFront {
    background-color: #000000;
    font-family: 'Bernier', sans-serif;
    color: white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
